/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body {
  margin: 0;
  padding: 0;
}

/* Custom buttons */
.row-buttons {
  button {
    margin-right: 10px;
  }
}
.fab-bottom-right {
  position: fixed !important;
  bottom: 15px;
  right: 15px;
}

/* Spinner custom position */
.spinner {
  margin: 30px auto 0 auto;
}
